// Specific CSS for your home-page
body {
  background-color: rgb(245, 245, 245);
  margin: 0;
  padding: 0;
  h1 {
    color: $darkgrey;
  }
}
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin: 0;
  h1{
    font-family: Roboto;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    color: white;
    opacity: 0.9;
    font-size: 32px;
    line-height: 36px;
    strong {
      color: $white;
      opacity: 1.0;
      font-size: 36px;
    }
  }
  p{
    font-size: 20px;
    color: white;
    opacity: .8;
    // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}
.separator{
  background-position: center;
  padding: 30px 150px;
  margin: 0;
  p{
    color:$light-gray;
    font-size: 16px;
  }
}
.separator2{
  background-position: center;
  padding: 80px 150px 0 150px;
  margin: 0;
  p{
    color:$light-gray;
    font-size: 16px;
  }
}
.choose {
  font-size: 24px;
  color: $darkgrey;
}
// CARDS univers
.card-product {
  overflow: hidden;
  height: 80px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  color: $darkgrey;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

// CARDS détail
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
  height: 60px;
}

.cards2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 6px;
  height: 60px;
}
// // Smallest device
// @media (min-width: 100px) and (max-width: 575px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 850px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }

// CARDS 2
// .cards2{
//   width: 80%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .container2 {
//   grid-template-columns: flex;
//   justify-content: center;
//   align-items: center;
// }

// CARD Best-price
.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 330px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  p{
    font-size: 10px;
    color: $light-gray;
  }
  h2{
    padding-top: 8px;
    font-size: 16px;
    color: $darkgrey;
  }
  h3{
    font-size: 14px;
    font-weight: 300;
    color: $darkgrey
  }
  h4{
    font-size: 12px;
    font-weight: 700;
    color: $purple;
  }
}

.top-rated-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  .item {
    background-color: white;
    border-radius: 4px 4px 0% 0%;
    // padding: 10px 10px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
    .location {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .rating {
      color: $purple;
    }
    .content-home-swimming {
      padding: 5px 10px;
    }
  }
  img {
    width: 155px;
    border-radius: 4px;
  }
  p{
    font-size: 10px;
    color: $light-gray;
  }
  h2{
    // padding-top: 8px;
    font-size: 16px;
    color: $darkgrey;
  }
  h3{
    font-size: 8px;
    font-weight: 300;
    color: $darkgrey
  }
  h4{
    font-size: 12px;
    font-weight: 700;
    color: $darkgrey;
  }
}
