.new-pool-box {
  display: flex;
  // justify-content: space-between;
  // flex-direction: row;
  .item {
    width: 50%;
    &:last-child {
      padding: 50px 50px;
    }
  }
  .img {
    background-size: cover;
  }
}
