.new-pool-box {
  display: flex;
}

.img {
background-size: cover;
}

.item {
  display: flex;
  flex-direction: column;
  padding-top: 5vh;
  padding-left: 5vh;
}

.infos {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  .column {
    padding-right: 5vh;
  }
}
