.description-show-swimming {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
  .item {
    min-height: 340px;
  }
  .feature-swimming {
    background-color: aliceblue;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.30);
    width: 500px;
    padding: 50px 50px;
    border-radius: 10px;
  }
  img {
    width: 500px;
    min-height: 357px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.30);
  }
  li {
    color: $darkgrey;
    list-style: none;
    margin-bottom: 0.7rem;
  }
}


.description-swimming-pools {
  margin-top: 3rem;
      background-color: aliceblue;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.30);
    // width: 500px;
    padding: 50px 50px;
    border-radius: 10px;
}
