<%pools = current_user.swimming_pools%>
<%pools.each do |pool|%>
  <%# <%pool = SwimmingPool.find(booking.swimming_pool.id)%>
    <%# <%renter = User.find(booking.user_id)%>
    <div class="card-booking">
      <%= cl_image_tag  pool.photo.key %>
      <div class="card-booking-infos w-100">
        <h2><%=pool.name%></h2>
        <div class="details-info">
          <p>Actual Price : <%=pool.price_per_day%> €/day</p>

        </div>
      </div>
      <div class='btn-booking-validation pr-3'>
        <%= link_to 'Edit', edit_owner_swimming_pool_path(pool.id),
          class:'btn btn-primary btn-sm m-3'%>
      </div>
    </div>
<%end%>
