<div class="mapboxgl-popup">
  <div class="mapboxgl-popup-content">
    <h1 class="mapboxgl-popup-content-address"><i class="fas fa-location-arrow"></i> <%= pool.address.capitalize %></h1>
    <h1 class="mapboxgl-popup-content-price"><%= pool.price_per_day %> €/day</h1>
  </div>
</div>
