<h2>NAVBAR</h2>

<div class container>
</h1>Beautiful pool not overlooked with a play area</h1>
</div>

#carousel


<%= @swimming_pool.name %>

#détails avec li

 name: 'plouf1',
  description: 'c froid',
  address: 'nantes',
  length: '12',
  width: '12',
  max_depth: '3',
  price_per_day: '500',
  treatment: 'natural',
  temperature: '25',
  max_people: '152',
  kids_friendly: true,
  pets_friendly: 'false',
  user_id: owner_test.id
)
#add text
#add map
#add je reserve? ou voir dispo
