<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.3)), url(http://cdn.home-designing.com/wp-content/uploads/2013/04/Como-Shambhala-Estate-Bali-deckchairs-and-infinity-pool-with-views.jpg);">
  <div class="container">
    <h1>Welcome on <strong>Ploof4all </strong>our ploof is your ploof</h1>
    <p>Change your day, learn to swim </p>
    <a class="btn btn-flat" href="#">Let's dive ! 🐸</a>
  </div>
</div>
<div class="separator">
  <div class="choose">Choose your univers</div>
  <p></p>
    <%# <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2>Product name</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div> %>
  </div>
</div>


<div class="cardsholder">
  <div class="container">
    <div class="cards">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        Breakfast
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
        Lunch
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
        Dinner
      </div>
    </div>
  </div>
</div>
