<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://cdn.home-designing.com/wp-content/uploads/2013/04/Como-Shambhala-Estate-Bali-deckchairs-and-infinity-pool-with-views.jpg);">
  <div class="container">
    <h1>Welcome on Ploof4all <strong>we ensure you to find the best swimming-pool around you by a matter of seconds !</strong></h1>
    <p>Change your day and learn to swim </p>
    <a class="btn btn-flat" href="#">Découvrez votre future piscine</a>
  </div>
</div>
