

// .cards-box {
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   flex-wrap: wrap;
//   flex-flow: row wrap;
//   gap: 25px;
//   flex-shrink: 1;
//   // background-color: $light-gray;
//   :hover {
  //     text-decoration: none;
  //   }
  // }

.cards-box {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  // gap: 20px;
  :hover {
    text-decoration: none;
  }
}

@media(max-width: 768px) {
  .cards-box {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr;
    // gap: 20px;
    :hover {
      text-decoration: none;
    }
  }
}

.card-index {
  overflow: hidden;
  background: white;
  color: $darkgrey;
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
  width: 25vw;
  height: 245px;
  margin-top: 5vh;
  margin-left: 5vh;
  border-radius: 4px;
  :hover {
    opacity: 0.8
  }
  .card-index-infos {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
  }
  .card-address-pricing {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.card-index > img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.card-index-name {
  font-size: 0.75em;
  font-weight: bold;
  margin-bottom: 0.2vh;
}

.card-index-address {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 2vh;
  opacity: .7;
}

.card-index-pricing {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}

// .card-index-infos .card-index-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }
