.card-index {
  overflow: hidden;
  background: white;
  color: $darkgrey;
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
  width: 18vw;
  max-height: 13.5vw;
  margin-top: 5vh;
  border-radius: 4px;
  :hover {
    opacity: 0.8
  }
  .card-index-infos {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
  }
  .card-address-pricing {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.card-index > img {
  height: 20vh;
  width: 100%;
  object-fit: cover;
}

.card-index-name {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.2vh;
}

.card-index-address {
  font-size: 0.625em;
  font-weight: bold;
  margin-bottom: 2vh;
}

.card-index-pricing {
  font-size: 0.75em;
  font-weight: bold;
  margin: 0;
}

.card-index p {
  font-size: 0.75em;
  opacity: .7;
  margin: 0;
}

// .card-index-infos .card-index-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }
